#svg_editor_container {
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0px; */
  /* right: 0px; */
  /* display: block; */
  background:#AAA;
  height:100%; 
  width:100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
}

.svg-workarea-toolbar {
  min-height: 46px;
  height: 46px;
}
.svg-workarea-leftbar-p {
  box-shadow: none !important;
  background-color: rgba(33,33,33,1);
}

.svg-workarea-leftbar-h {
max-height: 26px;
text-align: center;
vertical-align: middle;
padding-left: 0px;
padding-right: 0px;
background-color: rgba(33,33,33,1);
color: rgba(255,255,255,1);
/* border-bottom: solid 1px rgba(0, 0, 0, 0.07); */
}

.svg-workarea-leftbar-h mat-icon {
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
}

.svg-workarea-leftbar-h span {
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
  padding-top: 5px !important;
  padding-left: 3px;
  font-size: 11px;
}

/* .svg-workarea-leftbar-h:hover {
} */

.svg-workarea-leftbar-h:enabled .svg-workarea-leftbar-h::selection{
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
}

/* .mat-expansion-panel-content {
  background-color: rgb(53, 3, 3);
} */

.svg-workarea-flybar-h {
  max-height: 26px;
  text-align: center;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
  /* border-bottom: solid 1px rgba(0, 0, 0, 0.07); */
 }
 
 .svg-workarea-flybar-h mat-icon {
     background-color: rgba(33,33,33,1);
     color: rgba(255,255,255,1);
 }
 
 .svg-workarea-flybar-h span {
     background-color: rgba(33,33,33,1);
     color: rgba(255,255,255,1);
     padding-top: 5px !important;
     padding-left: 3px;
     font-size: 11px;
 }
 
 /* .svg-workarea-flybar-h:hover {
 } */
 
 .svg-workarea-flybar-h:enabled .svg-workarea-flybar-h::selection{
     background-color: rgba(33,33,33,1);
     color: rgba(255,255,255,1);
 }   

.svg-workarea-fly-p {
  box-shadow: none !important;
  background-color: rgba(33,33,33,1);
  width: 200px;
  padding-left: 0px;
  padding-right: 0px;
}

.svg-property-split3:after {
  display: table;
  clear: both;
}

.svg-property-split3 div {
  /* float: left; */
  /* width: 49%; */
  display: inline-block;
}

.svg-property-split2:after {
  display: table;
  clear: both;
}

.svg-property-split2 div {
  /* float: left; */
  /* width: 49%; */
  display: inline-block;
}

.svg-property {
  /* display: block; */
  color: rgba(255,255,255,0.75);
  /* position: relative; */
  /* left: 5px; */
  /* right: 5px; */
  /* width: 100%; */
}

.svg-property span {
  /* float: left; */
  display: block;
  font-size: 10px;
  margin: 0px 5px 0px 10px;
}

.svg-property input {
  /* float: right; */
  /* position: relative; */
  /* left: 0px; */
  /* right: 0px; */
  display: block;
  margin: 0px 10px 12px 10px;
  border: unset;
  background-color: inherit;
  color: inherit;
  border-bottom: 1px solid rgba(255,255,255,0.75);
}

.svg-workarea-container {
  /* position: relative; */
  display: block;
  height: 100%;
  /* height: calc(100% - 46px);  */
  /* bottom: 0px; */
  /* top: 0px; */
  /* left: 0px; */
  /* right: 0px; */
}

.svg-tools-fly {
  z-index: 9999;
  position:absolute; 
  right:25px; 
  top:55px; 
  overflow-y: auto;
  max-height: calc(100% - 75px); 

}





/* Tooltip container */
.tooltip-left {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-left .tooltiptext-left {
  visibility: hidden;
  width: 120px;
  background-color: rgb(75, 74, 74);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-left:hover .tooltiptext-left {
  visibility: visible;
}

/* Tooltip container */
.tooltip-right {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-right .tooltiptext-right {
  visibility: hidden;
  width: 120px;
  background-color: rgb(75, 74, 74);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-right:hover .tooltiptext-right {
  visibility: visible;
}

/* Tooltip container */
.tooltip-top {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-top .tooltiptext-top {
  visibility: hidden;
  width: 120px;
  background-color: rgb(75, 74, 74);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-top:hover .tooltiptext-top {
  visibility: visible;
}

.tooltip-bottom {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip-bottom .tooltiptext-bottom {
  visibility: hidden;
  width: 120px;
  background-color: rgb(75, 74, 74);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-bottom:hover .tooltiptext-bottom {
  visibility: visible;
}

.svg-tool-button {
  vertical-align: middle;
  display: inline-table;
  /* display: inline-block; */
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 2px 2px 2px 2px;
  /* padding-top: 5px; */
}

.svg-tool-button span {
  display: block;
  margin: auto;
  /* height: 30px; */
  /* width: 30px; */
}

.svg-tool-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.svg-tool-active:active {
  /* border: 1px solid #000000; */
  background-color: rgba(48,89,175,1);        
}

.svg-tool-active {
  /* border: 1px solid #000000; */
  background-color: rgba(48,89,175,1);        
}

.leave-header-area {
  margin-top: 36px;
}

.svg-sidenav {
  min-width: 160px;
  max-width: 200px;
  background: rgba(33,33,33,1);
}

/* tool bar top */
.tools_panel {
  background-color: rgba(33,33,33,0.92);
  color: rgba(255,255,255,1);
}
.main-btn {
  height: 34px;
  width: 34px;
  min-width: unset !important;
  padding:unset !important;
  line-height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

.main-btn mat-icon {
  font-size: 24px;
  height: unset;
  width: unset;
}

.main-btn .to-top {
  background: url('/assets/images/to-top.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 34px;
  width: 34px;
}

.main-btn .to-bottom {
  background: url('/assets/images/to-bottom.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 34px;
  width: 34px;
}

.main-btn .to-path {
  background: url('/assets/images/to-path.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 34px;
  width: 34px;
}

.main-btn .group {
  background: url('/assets/images/group.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 34px;
  width: 34px;
}

.main-btn .ungroup {
  background: url('/assets/images/ungroup.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 34px;
  width: 34px;
}

.main-btn-sep {
  width: 1px;
  background: #888;
  border-left: 1px outset #888;
  margin: 5px 3px;
  padding: 0;
  height: 24px;
}

/* --------------- */
/* left panel */
/* --------------- */
.view-panel {
  max-height: 400px;
  overflow: auto;
}
.leftbar-edit-btn {
  margin-top: 2px;
  font-size: 18px;
  height: 18px;
  width: 18px;
  padding-right: 15px;
}

.leftbar-panel {
  padding: 0px 0px 0px 0px;
  font-size: 11px;
  /* background-color: rgb(34, 107, 241); */
  background-color: rgba(47,47,47,1);
  /* overflow: auto; */
}

.leftbar-item {
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* width: 100%; */
  padding: 3px 0px 1px 0px;
  display: flow-root;
  color: rgba(255,255,255,1);
}

.leftbar-item-active {
  /* font-weight: 600; */
  background-color: rgba(48,89,175,1);    
}

.leftbar-item span {
  padding-left: 15px;    
  float: left;
}
.leftbar-item mat-icon {
  float: right;
  font-size: 18px;
  /* color: rgba(0, 0, 0, 0.4); */
}

::ng-deep .leftbar-item-menu {
  background-color: rgba(47,47,47,1);
}

::ng-deep .svg-workarea-leftbar-p .mat-expansion-panel-body {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  /* padding-left: 10px !important; */
  flex-wrap: wrap !important;
}

::ng-deep .svg-workarea-fly-p .mat-expansion-panel-body {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  /* padding-left: 10px !important; */
  flex-wrap: wrap !important;
  background-color: rgba(47,47,47,1);
  
}

::ng-deep .mat-menu-item {
  font-size: 11px;
  color: rgba(255,255,255,1);
  height: 30px !important;
  line-height: unset !important;
}

.rightbar-panel {
  /* padding: 0px 0px 0px 0px; */
  /* font-size: 11px; */
  /* background-color: rgb(34, 107, 241); */
  background-color: rgba(47,47,47,1);
  /* overflow: auto; */
}

.mat-expansion-panel-header-title span {
  padding-top: 3px;
}
.mat-expansion-panel-spacing {
  margin: 0px 0px 0px 0px !important;
}

.bottom-bar {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0;
  height: 30px;
  overflow: visible;
}

.zoom-menu {
  float: left;
  padding-left: 5px;
  width: 90px;  
}

.zoom-value {
  background-color: inherit;
  color: rgba(255,255,255,1);
  border: unset;
  display: inline-block;
}

.zoom-label {
  display: inline-block;
  height: 25px;
}
.zoom-value span {
  display: inline-block;
  /* position: absolute; */
  /* top: 5px; */
  /* left: 5px; */
  /* height: 10px; */
  /* width: 10px; */
}

.zoom-value .selection, button {
  display: inline-block;
  /* height: 10px; */
  /* width: 10px; */
  /* position: absolute; */
  /* top: 3px; */
  /* left: 55px; */
}
.zoom-value button {
  /* width: unset; */
  z-index: 9999;
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
  border: unset;
}

.zoom-value ul, li {
  /* width: unset; */
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
  border: unset;
}

.zoom-value ul {
  left: 0px;
}

.zoom-value li:hover {
  background-color: rgb(22, 22, 22);
  
}

.colors {
  position: absolute;
  left: 25px;
  top: 0px;
}

.colors-palette {
  position: absolute;
  left: 850px;
  top: 0px;
}

.color-fill {
  position: relative;
  top: 3px;
  left: 10px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border: 1px solid  rgba(255,255,255,0.75);
}

.color-stroke {
  position: absolute;
  top: 3px;
  left: 30px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border: 1px solid  rgba(255,255,255,0.75);
}

.style-stroke {
  display: block !important;
  margin: 0px 10px 12px 10px;
  background-color: inherit;
  color: inherit;
}

.style-stroke option {
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
}

.font-family {
  display: block;
  margin: 0px 10px 12px 10px;
  background-color: inherit;
  color: inherit;
}

.font-family option {
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
}

.text-align {
  display: block;
  margin: 0px 10px 12px 10px;
  background-color: inherit;
  color: inherit;
}

.text-align option {
  background-color: rgba(33,33,33,1);
  color: rgba(255,255,255,1);
}

select#start_marker option[value="A"] { background:url('/assets/images/select-pointer.svg');   }
select#start_marker option[value="B"] { background:url('/assets/images/select-pointer.svg'); }
select#start_marker option[value="C"] { background:url('/assets/images/select-pointer.svg'); }
select#start_marker option[value="D"] { background:url('/assets/images/select-pointer.svg'); }

.icon-select {
  background: url('/assets/images/select-pointer.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-pencil {
  background: url('/assets/images/pencil.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-line {
  background: url('/assets/images/line.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-rect {
  background: url('/assets/images/rect.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-circle {
  background: url('/assets/images/circle.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-ellipse {
  background: url('/assets/images/ellipse.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-path {
  background: url('/assets/images/path.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-text {
  background: url('/assets/images/text.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px; 
}

.icon-image {
  background: url('/assets/images/image.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-align-left {
  background: url('/assets/images/align-left.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-align-center {
  background: url('/assets/images/align-center.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-align-right {
  background: url('/assets/images/align-right.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-align-top {
  background: url('/assets/images/align-top.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-align-middle {
  background: url('/assets/images/align-middle.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-align-bottom {
  background: url('/assets/images/align-bottom.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-flip-orizontal {
  background: url('/assets/images/flip-orizontal.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-flip-vertical {
  background: url('/assets/images/flip-vertical.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-linejoin-miter {
  background: url('/assets/images/linejoin-miter.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-linejoin-round {
  background: url('/assets/images/linejoin-round.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-linejoin-bevel {
  background: url('/assets/images/linejoin-bevel.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-linecap-butt {
  background: url('/assets/images/linecap-butt.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-linecap-square {
  background: url('/assets/images/linecap-square.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-linecap-round {
  background: url('/assets/images/linecap-round.svg') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-tool {
  background-size: contain;
  height: 30px;
  width: 30px;
  color: rgba(255,255,255,1);
}

.icon-switch {
  background: url('/assets/images/switch.svg') no-repeat center center;
}
.icon-compressor-void {
  background: url('/assets/images/compressor-void.svg') no-repeat center center;
}
.icon-compressor-fan {
  background: url('/assets/images/compressor-fan.svg') no-repeat center center;
}
.icon-compressor-piston {
  background: url('/assets/images/compressor-piston.svg') no-repeat center center;
}
.icon-valve-ax {
  background: url('/assets/images/valve-ax.svg') no-repeat center center;
}
.icon-valve-bx {
  background: url('/assets/images/valve-bx.svg') no-repeat center center;
}
.icon-valve-cx {
  background: url('/assets/images/valve-cx.svg') no-repeat center center;
}
.icon-value {
  background: url('/assets/images/value.svg') no-repeat center center;
}
.icon-editvalue {
  background: url('/assets/images/editvalue.svg') no-repeat center center;
}
.icon-selectvalue {
  background: url('/assets/images/selectvalue.svg') no-repeat center center;
}
.icon-progress-v {
  background: url('/assets/images/progress-v.svg') no-repeat center center;
}
.icon-semaphore {
  background: url('/assets/images/semaphore.svg') no-repeat center center;
}
.icon-shape-diamond {
  background: url('/assets/images/shape-diamond.svg') no-repeat center center;
}
.icon-shape-triangle {
  background: url('/assets/images/shape-triangle.svg') no-repeat center center;
}
.icon-shape-halfcircle {
  background: url('/assets/images/shape-halfcircle.svg') no-repeat center center;
}
.icon-shape-delay {
  background: url('/assets/images/shape-delay.svg') no-repeat center center;
}
.icon-shape-looplimit {
  background: url('/assets/images/shape-looplimit.svg') no-repeat center center;
}
.icon-shape-prepara {
  background: url('/assets/images/shape-prepara.svg') no-repeat center center;
}
.icon-shape-trape {
  background: url('/assets/images/shape-trape.svg') no-repeat center center;
}
.icon-shape-offpage {
  background: url('/assets/images/shape-offpage.svg') no-repeat center center;
}
.icon-shape-ticket {
  background: url('/assets/images/shape-ticket.svg') no-repeat center center;
}
.icon-shape-arrow {
  background: url('/assets/images/shape-arrow.svg') no-repeat center center;
}
.icon-shape-doublearrow {
  background: url('/assets/images/shape-doublearrow.svg') no-repeat center center;
}
.icon-shape-rectindi {
  background: url('/assets/images/shape-rectindi.svg') no-repeat center center;
}
.icon-shape-circleindi {
  background: url('/assets/images/shape-circleindi.svg') no-repeat center center;
}
.icon-button {
  background: url('/assets/images/button.svg') no-repeat center center;
}
.icon-motor-simb {
  background: url('/assets/images/motor-simb.svg') no-repeat center center;
}
.icon-exchanger-filter {
  background: url('/assets/images/exchanger-filter.svg') no-repeat center center;
}
.icon-exchanger-heat {
  background: url('/assets/images/exchanger-heat.svg') no-repeat center center;
}
.icon-exchanger-tube {
  background: url('/assets/images/exchanger-tube.svg') no-repeat center center;
}
.icon-chart {
  background: url('/assets/images/chart.svg') no-repeat center center;
}